img {
    height: 200px;
    width: 200px;
}
.container{

position: absolute;

}
.col-md-4{
   margin-top:20px;
}

footer{
    position: fixed;
    bottom: 0;
    width:100%;
    background-color: teal;
}